@media screen and (max-width: 922px) {
  #kontak h3 {
      font-size: 30px;
      width: 100%;
}

@media screen and (max-width: 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }
}

@media screen and (max-width: 350px) {
    
}
